.contact-us-page {
    padding: 80px 0;
 }

.contact-us-page h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

.contact-us-page .subhead {
    margin-bottom: 40px;
}

.contact-us-page p {
    margin-bottom: 16px;
}

.contact-us-page .office-address h6 {
    font-size: 24px;
}

.contact-us-page .office-address p {
    font-size: 16px;
}

.contact-us-page .phone, .contact-us-page .whatsapp, .contact-us-page .email {
    font-size: 16px;
}

.contact-us-pane {
    display: flex;
    gap: 100px;
}


@media (max-width: 768px) {
    .contact-us-page {
        padding: 40px 0;
     }
     .contact-us-page h1 {
        font-size: 24px;
    }
    .contact-us-page .office-address h6 {
        font-size: 20px;
    }

    .contact-us-pane {
        flex-direction: column;
        gap: 40px;
    }

    .contact-us-page iframe {
        width: 100%;
    }
}