
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    width: 24px;
    height: 24px;
}


/* Accordion Styles */

.accordion {
    max-width: 800px;
    margin: 0 auto;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #305cde;
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: rgb(24, 24, 24);
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #305cde;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #305cde;
    border: 1px solid #305cde;
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    margin-right: 1.5em;
    font-size: 1rem;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #305cde;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    text-align: left;
  }
  

/* Accordion Styles - END */

.bold {
    font-weight: bold;
}

.outlined-btn {
    display: inline-block;
    border: 2px solid #305cde;
    color: #305cde;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.outlined-btn:hover {
    background-color: #305cde;
    color: #fff;
}

address {
    font-style: normal;
}

body {
    font-family: "Poppins", serif, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(248, 244, 240);
}

/* Container */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

#menuToggle {
    display: block;
    position: fixed;
    top: 30px;
    right: 20px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -6px;
    left: -4px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle > span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #666;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #666;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    position: absolute;
    max-width: 360px;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: -58px 0 0 0;
    padding: 24px;
    padding-top: 90px;
    right: -20px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    overflow-y: auto;
    background: #ededed;
    list-style-type: none;
    
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu a {
    font-size: 16px;
    color: rgb(24, 24, 24);
    text-decoration: none;
  }

  #menu .contact-us p {
    margin-bottom: 16px;
    padding: 10px 0;
  }
  
  #menu li
  {
    padding: 10px 0;
    margin-bottom: 16px;
    font-size: 16px;
  }
  
  #menu li label
  {
    cursor: pointer;
  }
  
  /*
   * And let's fade it in from the right
   */
  #menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
  }






.header-space {
    height: 100px;
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(248, 244, 240);
    z-index: 1;
}

header .header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header-nav {
    /* margin-left: 100px; */
}

.header-nav ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
}

.header-nav ul a {
    font-size: 14px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 50px;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.header-nav ul a.active {
    background-color: rgb(24, 24, 24);
    color: rgb(248, 244, 240);
}

.header-nav ul a:hover {
    background-color: rgb(24, 24, 24);
    color: rgb(248, 244, 240);
}

header .header-links {
    display: flex;
    column-gap: 20px;
}

header .header-links a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(24, 24, 24);
}

.phone {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    width: fit-content;
}

header .header-links a.phone {
    color: rgb(255, 51, 51);
    letter-spacing: 2px;
}

.whatsapp {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    gap: 5px;
    width: fit-content;
 }

.email {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    gap: 5px;
    width: fit-content;
 }

 .phone:hover, .whatsapp:hover, .email:hover {
    color: rgb(255, 51, 51);
 }

 .whatsapp img {
    height: 36px;
 }

/* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

/* Home Section */
#home {
    padding: 100px 0;
    text-align: center;
}

#home h1 {
    font-size: 32px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#home p.subhead {
    font-size: 16px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.contact.cta-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact.cta-btns p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact.cta-btns p a {
  background: #305cde;
  color: #fff;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 40px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.contact.cta-btns p a:hover {
    box-shadow: none;
  }

/* Services Section */
.services {
    padding: 100px 0;
    padding-bottom: 0;
}

.services-cntr {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.services h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.services p.subhead {
    font-size: 16px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.clients p.subhead {
    font-size: 16px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.services .service {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    padding: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.mtopauto {
    margin-top: auto;
}

.services .service h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.services .service ul {
    list-style: none;
    margin-bottom: 20px;
}

.services .service ul li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.services .service ul li img {
    user-select: none;
}

/* Industries Section */
.industries {
    padding: 100px 0;
    padding-bottom: 0;
}

.industries h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.industries ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

.industries ul li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 0 0 17%;
    align-items: center;
}

.industries ul li img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 8px;
}

.industries ul li span {
    font-size: 16px;
    margin-top: auto;
    font-weight: 600;
}

/* Clients Section */
.clients {
    padding: 100px 0;
    padding-bottom: 0;
}

.clients h2, .faqs h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.clients ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.clients ul li {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    padding: 10px;
    border-top: 3px solid #ddd;
}

.importance-sec {
    padding: 20px 0;
    padding-bottom: 60px;
}

.importance-sec h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.importance-sec p {
    font-size: 16px;
    margin-bottom: 20px;
}

.why-choose-us h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

/* Why Choose Us Section */
.why-choose-us {
    padding: 100px 0;
}

.converter-cntr {
    padding: 80px 0;
}

.converter-cntr h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.converter-cntr p {
    margin-bottom: 40px;
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.converter-cntr button{
    background: #305cde;
    color: #fff;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 5px 40px;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
    border: 0;
    cursor: pointer;
}

.converter-step {
    margin-bottom: 40px;
}

.converter-step h4 {
    margin-bottom: 20px;
    font-weight: 500;
    text-decoration: underline;
}

.why-choose-us h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.why-choose-us ul {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.why-choose-us ul li {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    padding: 20px;
    width: 400px;
}

.why-choose-us ul li h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 16px;
}

.why-choose-us ul li img {
    height: 100px;
}

.why-choose-us ul li p {
    font-size: 14px;
}

/* Call to Action Section */
.cta, .faqs {
    padding: 100px 0;
    text-align: center;
}

.cta h2 {
    max-width: 900px;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: 600;
}

.cta .contact p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.cta a {
    text-decoration: none;
}

/* Footer */
footer {
    border-top: 1px solid rgb(216, 216, 216);
    background-color: #fff;
    color: rgb(24, 24, 24);
    padding: 100px 0;
    padding-bottom: 50px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

footer .about-us, footer .quick-links, footer .contact-us, footer .services-offered {
    /* flex: 1; */
}

footer .about-us p {
    font-size: 14px;
}

footer .about-us {
    max-width: 330px;
 }

footer .about-us h3, footer .quick-links h3, footer .contact-us h3, footer .services-offered h3 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}


.location-list  {
    margin-top: 40px;
}

.location-list ul {
    display: flex;
    flex-wrap: wrap;
}

.location-list ul li {
    flex-basis: 20%;
}

footer .link-list ul {
    list-style: none;
}

footer .link-list ul li {
    font-size: 14px;
    margin-bottom: 20px;
}

footer .link-list ul li:last-child {
    margin-bottom: 0;
}

footer .link-list ul li a {
    color: rgb(24, 24, 24);
    text-decoration: none;
}

footer .link-list ul li a:hover {
    color: rgb(255, 51, 51);
}

footer .contact-us p {
    margin-bottom: 20px;
}

footer .rights {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

.office-address h4 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

footer .office-address p {
    font-size: 14px;
    margin-bottom: 0;
}

.manual-steps {
    padding: 60px 0;
}

.manual-steps p {
    margin-top: 20px;
}

.manual-steps h4 {
    margin-top: 20px;
}

.manual-steps h6 {
    font-size: 16px;
    margin-top: 40px;
}

.main-list {
    list-style: number;
    padding-left: 40px;
}

.main-list > li {
    margin-top: 15px;
}

.sub-list {
    list-style: disc;
    padding-left: 40px;
}

.sub-list > li {
    font-size: 14px;
    margin-top: 5px;
}

/* Responsive Design for Footer */
@media (max-width: 768px) {
    .accordion button[aria-expanded='true'] + .accordion-content {
        max-height: 15em;
      }
    header .header-links, .header-nav {
        display: none; /* Hide desktop menu on mobile */
    }

    .hamburger {
        display: block; /* Show hamburger icon */
    }

    #home, .services, .industries, .clients, .why-choose-us, .cta, .converter-cntr {
        padding: 60px 0;
    }

    .services .service h3 {
        font-size: 16px;
    }

    #home h1 {
        font-size: 24px;
    }

    .contact.cta-btns {
        flex-direction: column;
    }

    .contact.cta-btns p a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .services h2 {
        font-size: 24px;
    }

    .services-cntr {
        flex-direction: column;
        gap: 40px;
    }

    .services .service {
        width: 100%;
        padding: 20px;
    }

    .why-choose-us ul {
        gap: 20px;
        flex-direction: column;
    }

    .why-choose-us ul li {
        width: 100%;
    }

    .industries h2, .clients h2,  .why-choose-us h2, .cta h2, .faqs h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .services .service ul li {
        font-size: 16px;
    }

    .industries ul li {
        margin: 0;
        margin-bottom: 40px;
        flex: 0 0 50%;
    }

    .why-choose-us ul li p {
        font-size: 16px;
    }

    footer {
        padding: 60px 0;
    }

    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    footer .about-us, footer .quick-links, footer .contact-us, footer .services-offered {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
    }
    
    .location-list ul li {
        flex-basis: 50%;
    }
}