
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

address {
    font-style: normal;
}

body {
    font-family: "Poppins", serif, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(248, 244, 240);
}

/* Container */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

.header-space {
    height: 100px;
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(248, 244, 240);
}

header .header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header-nav {
    /* margin-left: 100px; */
}

.header-nav ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
}

.header-nav ul a {
    font-size: 14px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 50px;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.header-nav ul a.active {
    background-color: rgb(24, 24, 24);
    color: rgb(248, 244, 240);
}

.header-nav ul a:hover {
    background-color: rgb(24, 24, 24);
    color: rgb(248, 244, 240);
}

header .logo img {
    height: 50px; /* Adjust based on logo size */
}

header .header-links {
    display: flex;
    column-gap: 20px;
}

header .header-links a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(24, 24, 24);
}

.phone {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    gap: 5px;
    font-size: 14px;
    color: rgb(24, 24, 24);
    text-decoration: none;
}

.whatsapp {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    gap: 5px;
 }

.email {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    gap: 5px;
 }

 .phone:hover, .whatsapp:hover, .email:hover {
    color: rgb(255, 51, 51);
 }

 .whatsapp img {
    height: 36px;
 }

/* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

/* Mobile Menu (Initially hidden) */
nav.mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #2e3a59;
    width: 200px;
    text-align: right;
    padding: 10px;
}

nav.mobile-menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav.mobile-menu a:hover {
    background-color: #1d2c47;
}

/* Responsive Design: Show Hamburger Icon and Mobile Menu */
@media (max-width: 768px) {
    header .header-links {
        display: none; /* Hide desktop menu on mobile */
    }

    .hamburger {
        display: block; /* Show hamburger icon */
    }

    nav.mobile-menu {
        display: none; /* Hide mobile menu by default */
    }

    nav.mobile-menu.active {
        display: block; /* Show mobile menu when active */
    }
}

/* Home Section */
#home {
    padding: 100px 0;
    text-align: center;
}

#home h1 {
    font-size: 32px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#home p.subhead {
    font-size: 16px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.contact.cta-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact.cta-btns p {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact.cta-btns p a {
  background: #0276FF;
  color: #fff;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 40px;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.contact.cta-btns p a:hover {
    box-shadow: none;
  }

/* Services Section */
.services {
    padding: 100px 0;
}

.services-cntr {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.services h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.services .service {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    padding: 40px;
    width: 320px;
}

.services .service h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.services .service ul {
    list-style: none;
}

.services .service ul li {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
        align-items: center;
        gap: 8px;
}

/* Industries Section */
.industries {
    padding: 100px 0;
}

.industries h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.industries ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.industries ul li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
    align-items: center;
}

.industries ul li img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 8px;
}

.industries ul li span {
    font-size: 16px;
    margin-top: auto;
    font-weight: 600;
}

/* Clients Section */
.clients {
    padding: 100px 0;
}

.clients h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.clients ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.clients ul li {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    padding: 10px;
    border-top: 3px solid #ddd;
}

/* Why Choose Us Section */
.why-choose-us {
    padding: 100px 0;
}

.why-choose-us h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.why-choose-us ul {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.why-choose-us ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    padding: 20px;
    width: 400px;
}

.why-choose-us ul li h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 16px;
}

.why-choose-us ul li img {
    height: 100px;
}

.why-choose-us ul li p {
    font-size: 14px;
}

/* Call to Action Section */
.cta {
    padding: 100px 0;
    text-align: center;
}

.cta h2 {
    max-width: 900px;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 40px;
}

.cta .contact p {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.cta a {
    text-decoration: none;
}

/* Footer */
footer {
    border-top: 1px solid rgb(216, 216, 216);
    background-color: #fff;
    color: rgb(24, 24, 24);
    padding: 100px 0;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

footer .about-us, footer .quick-links, footer .contact-us, footer .services-offered {
    /* flex: 1; */
}

footer .about-us p {
    font-size: 14px;
}

footer .about-us {
    max-width: 330px;
 }

footer .about-us h3, footer .quick-links h3, footer .contact-us h3, footer .services-offered h3 {
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

footer .link-list ul {
    list-style: none;
}

footer .link-list ul li {
    font-size: 14px;
    margin-bottom: 10px;
}

footer .link-list ul li a {
    color: rgb(24, 24, 24);
    text-decoration: none;
}

footer .link-list ul li a:hover {
    color: rgb(255, 51, 51);
}

footer .contact-us p {
    margin-bottom: 16px;
}

footer .rights {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.office-address h6 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.office-address p {
    font-size: 14px;
}

/* Responsive Design for Footer */
@media (max-width: 768px) {
    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    footer .about-us, footer .quick-links, footer .contact-us {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
