{%- comment -%} One tool card. include tool-card.html key="epf-eligibility" (keys in _data/i18n tools) {%- endcomment -%}
{%- include i18n.html -%}
{%- assign tool = t.tools | where: "key", include.key | first -%}
{%- include resolve-link.html path=tool.path -%}
<a class="card card--link link-row" href="{{ href }}"{% if link_en %} hreflang="en"{% endif %}>
  <span class="icon-badge">{% include icon.html name=tool.icon size="24" %}</span>
  <span class="link-row__name">{{ tool.name }}{% if link_en %}<span class="link-lang"> {{ t.english_marker }}</span>{% endif %}</span>
  <span class="link-row__text">{{ tool.text }}</span>
  <span class="link-row__arrow">{% include icon.html name="arrow" size="20" %}</span>
</a>
